.App {
  font-family: sans-serif;
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: inherit;
}

:root {
  --color-white: #fff;
  --color-light-white: #eee;
  --color-primary-transparent: rgba(234, 240, 241, 0.5);
  --color-primary: #f8efba;
  --color-secondary: #eb4d4b;
  --color-blue: #3498db;
  --color-shade: #0abde3;
  --color-black: #000;
  --color-gray: #8395a7;
  --shadow: rgba(0, 0, 0, 0.4);
}